<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.net>
		<mailSettings>
			<smtp from="&quot;E-Savings Notifier&quot; &lt;apps.donotreply@onsemi.com&gt;">
				<network host="mailhost.onsemi.com" port="25" userName="apps.donotreply@onsemi.com" password="Onsemi123!" enableSsl="false" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>